.productCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  color: rgb(88, 92, 112);
}

.productCard:hover .secondImg {
  z-index: 2;
}

.productImgBlock {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.productImgBlock span {
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: #000;
  color: #fff;
  padding: 3px 5px;
  font-weight: 500;
  font-size: 12px;
  z-index: 3;
}

.productImgBlock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.mainImg {
  z-index: 1;
}

.productDetails {
  padding: 0 5px 0 10px;
}

.productDetails h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0 3px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.13) solid;
}

.productPricing {
  margin-top: 5px;
}

.productPricing span:first-child {
  color: #58595b;
  margin-right: 5px;
  font-weight: 600;
}
.productPricing span:nth-child(2) {
  text-decoration: line-through;
  color: rgb(204, 204, 204);
}

.percentage-off {
  margin-left: 5px;
  font-size: 14px;
  color: #e66a51;
}
